@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.list-component {
  @include flex(row wrap, space-evenly, stretch);
  margin: 0.5rem auto;
  text-align: center;
  width: 90%;
  padding: 0.5rem 0.5rem;
  background-color: $gris;
  > .list-item-separator {
    height: 5rem;
    margin-left: 0.5rem;
    .titulo {
      height: 20%;
      width: 100%;
      background-color: $gris;
      font-weight: $bolder;
    }
    &.enviado {
      flex-grow: 1;
      > .data-item > input {
        height: 2rem;
        width: 2rem;
      }
    }
    &.verificado {
      flex-grow: 1;
    }
    &.direccion {
      > .data-item {
        @include flex(row, space-evenly, center);
        flex-wrap: wrap;
        height: 80%;
        > p {
          display: inline;
        }
      }
      flex-grow: 3;
    }
    &.productos {
      flex-grow: 3;
    }
    .data-item {
      @include flex(column, center, center);
      height: 80%;
    }
  }
}
