@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles//styles.scss";

.list-component {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1rem;
  .list {
    @include flex(row, space-evenly, center);
    font-size: small;
    padding: 0.3rem;
    margin-bottom: 1rem;
    > div {
      word-wrap: wrap;
    }
  }
}
