@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/styles.scss";
.list-container-component {
  text-align: center;
  .base-button.filtro {
    background-color: $negro;
    color: whitesmoke;
  }
}
