@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/styles.scss";
.list-container-component {
  text-align: center;
  .base-button {
    &.danger {
      background-color: $rojo;
    }
    &.filtro {
      background-color: $negro;
      color: whitesmoke;
    }
  }
}
