@import "./variables.scss";

@mixin flex($flex-flow, $main-axis, $cross-axis) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $main-axis;
  align-items: $cross-axis;
}

@mixin MediaQuery($point) {
  @if $point == "lg" {
    @media only screen and (min-width: $layout-lg-size) {
      @content;
    }
  } @else if $point == "md" {
    @media only screen and (max-width: $layout-md-size) {
      @content;
    }
  } @else if $point == "sm" {
    @media only screen and (max-width: $layout-sm-size) {
      @content;
    }
  }
}
