.base-button {
  padding: 0.5rem;
  background-color: $azul;
  font-weight: $bolder;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0.5rem 0.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
