///////////
//Layout
/////////
$layout-xl-size: 75rem; // 1200px
$layout-lg-size: 62rem; // 992px
$layout-md-size: 48rem; // 768px
$layout-sm-size: 36rem; // 576px
///////////
// Colors
//////////
$gris: rgb(250, 250, 250);
$azul: rgba(72, 172, 240, 1);
$verde: rgba(138, 234, 146, 1);
$negro: rgba(1, 4, 0, 1);
$rojo: rgba(244, 68, 46, 1);
///////////
// font-weight
//////////
$bolder: 600;
$regular: 400;
