@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/styles.scss";

.agregar-component {
  @include flex(column, center, center);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0.5rem auto 2rem;
  > input {
    width: 50%;
    height: 1.5rem;
    border-radius: 3px;
  }
  > label {
    color: rgb(66, 61, 61);
  }
  .checkbox {
    box-shadow: none;
  }
  > .toast {
    position: relative;
    background-color: transparentize($color: $rojo, $amount: 0.1);
    > .error {
      width: 90%;
      line-height: 2rem;
      font-weight: $bolder;
    }
    > .close-icon {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-weight: bolder;
      cursor: pointer;
      padding: 0.25rem 0.5rem;
      border: 1px solid white;
      border-radius: 50%;
    }
  }
}
